@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(24, 2, 34);
}
.my-clock{
    background-color: black;
    width: 400px;
    height: 400px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(140,138,140,0.5);
    -moz-box-shadow: 0px 0px 30px 0px rgba(140,138,140,0.5);
    box-shadow: 0px 0px 30px 0px rgba(140,138,140,0.5);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
span{
    font-size: 35px;
    font-weight: 700;
}